<div class="user-panel">
    <div class="pull-left image">
        <img src="/public/img/user-160x160.jpg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>Sylvain Simon</p>
        <a href="#"><i class="fa fa-circle text-success"></i> En ligne</a>
    </div>
</div>