<li class="user user-menu">
    <a href="{{ path("login_form") }}">
        <span>Connexion</span>
    </a>
</li>
<li class="user user-menu">
    <a href="{{ path("register_form") }}">
        <span>Inscription</span>
    </a>
</li>