<li class="dropdown user user-menu">
    
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/public/img/user-160x160.jpg" class="user-image" alt="User Image">
        <span class="hidden-xs">Sylvain Simon</span>
    </a>
    
    <ul class="dropdown-menu">
        
        <li class="user-header">
            <img src="/public/img/user-160x160.jpg" class="img-circle">
            <p>
                Sylvain Simon - Développeur Web
                <small>Inscrit en Nov. 2012</small>
            </p>
        </li>
        
        <li class="user-body">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a href="#">Mes équipes</a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="#">Mes tournois</a>
                </div>
            </div>
        </li>

        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Mon compte</a>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Déconnexion</a>
            </div>
        </li>
        
    </ul>
</li>