<li class="user user-menu">
    <a href="{{ path("login") }}">
        <span>Connexion</span>
    </a>
</li>
<li class="user user-menu">
    <a href="{{ path("register") }}">
        <span>Inscription</span>
    </a>
</li>