<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link rel="icon" type="image/png" href="images/favicon.png" />
        <title>ChampionSheep</title>

        <link href="/public/components/normalize-css/normalize.css" rel="stylesheet" type="text/css" />
        <link href="/public/css/Bootstrap.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

        <link href="/public/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body class="skin-red sidebar-mini">
        <div class="wrapper">

            <header class="main-header">

                <a href="{{ path("home") }}" class="logo">
                    <span class="logo-mini"><b>C</b>SH</span>
                    <span class="logo-lg"><b>Champion</b>Sheep</span>
                </a>

                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="/public/img/user-160x160.jpg" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">Sylvain Simon</span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li class="user-header">
                                        <img src="/public/img/user-160x160.jpg" class="img-circle">
                                        <p>
                                            Sylvain Simon - Développeur Web
                                            <small>Inscrit en Nov. 2012</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-6 text-center">
                                                <a href="#">Mes équipes</a>
                                            </div>
                                            <div class="col-xs-6 text-center">
                                                <a href="#">Mes tournois</a>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </li>

                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Mon compte</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-default btn-flat">Déconnexion</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <aside class="main-sidebar">
                <section class="sidebar">

                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/public/img/user-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>Sylvain Simon</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> En ligne</a>
                        </div>
                    </div>

                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Une équipe, un tournoi..">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>

                    {{ controller('CoreBundle\\Controllers\\SidebarMenuController', 'generateAction', {}) }}

                </section>
            </aside>

            <div class="content-wrapper" style="min-height: 298px;">

                <section class="content-header">
                    <h1>
                        Titre de la page
                        <small>Description de cette page</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                        <li class="active">Here</li>
                    </ol>
                </section>

                <section class="content">
                    Je met ce que je veut ici
                </section>
            </div>

            {% include 'footer.html.twig' %}        
        </div>

        <script src="/public/components/jquery/jquery.min.js"></script>
        <script src="/public/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/js/app.min.js"></script>
    </body>
</html>