{% extends "@common/base/index.html.twig" %}

{% block pageTitle %}Inscription{% endblock %}

{% block pageBody %}

    <div class="register-box">
        <div class="register-box-body">

            {% include "@CoreBundle/forms/register.html.twig" %}

            <a href="{{ path("login") }}" class="text-center">J'ai déjà un compte</a>
        </div>
    </div>
{% endblock %}